.navbar-spacing {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-logo {
  color: black;
  font-family: monospace;
  font-size: 30px;
  text-decoration: none;
}

.navbar-logo:hover {
  color: black;
}

.projects-heading {
  padding-top: 100px;
  padding-bottom: 50px;
}

.project-card {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 40px;
  overflow: hidden;
  text-decoration: none;
}

.join-card {
  padding-top: 50px;
  color: black;
}

.modal-buttons {
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-center {
  text-align: center;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {
  font-size: 15px;
}

.form-button {
  margin-top: 10px;
}
