.navbar-spacing {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-logo {
  color: black;
  font-family: monospace;
  font-size: 30px;
  text-decoration: none;
}

.navbar-logo:hover {
  color: black;
}

.projects-heading {
  padding-top: 100px;
  padding-bottom: 50px;
}

.project-card {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 40px;
}

.join-card {
  padding-top: 50px;
  color: black;
}
